.link {
  background-color: rgb(197, 37, 37);
  /* display: flex; */
}

.link:hover {
  background-color: rgb(179, 46, 46);
  /* display: flex; */
}

.link:focus {
  background-color: rgb(197, 37, 37);
  /* display: flex; */
}

.sub-form-group {
  display: flex;
  justify-content: space-between;
}

.u-section-1 .u-sheet-1 {
  min-height: 564px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 82px auto 0;
}

.u-section-1 .u-form-1 {
  height: 342px;
  width: 570px;
  margin: 0 auto 60px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}

