.u-section-1 .u-sheet-1 {
    min-height: 400px;
}

.hoved_tekst {
    padding-top: 20px;
    padding-right: 34%;
    padding-bottom: 20px;
    padding-left: 34%;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

.letter_bullets {
    list-style-type: lower-alpha;
}

@media (max-width: 1199px) {
    .hoved_tekst {
        padding-top: 5%;
        padding-right: 5%;
        padding-left: 5%;
    }
}