.u-section-1 .u-sheet-1 {
    min-height: 564px;
}

.u-section-1 .u-text-1 {
    font-weight: 700;
    margin: 82px auto 0;
    color: white;
}

.subheader {
    color: white;
}


.u-section-1 .u-form-1 {
    height: 342px;
    width: 570px;
    margin: 0 auto 60px;
}

.u-section-1 .u-form-group-3 {
    margin-left: 0;
}

@media (max-width: 767px) {
    .u-section-1 .u-form-1 {
        width: 540px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-form-1 {
        width: 340px;
    }
}