.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

#status {
  width:70%; 
  margin-left:15%; 
  margin-right:15%;
  margin-top: 5%;
  border: 1px solid;
  border-collapse: collapse;
  /* border-bottom: 1px solid #ddd; */
  /* width: 400px;
  height: 100px; */
  /* background-color: #04AA6D; */
}
tr:nth-child(odd) {background-color: #e3e6e9;}
tr:hover {background-color: rgb(87, 154, 192);}

/* th, td {
  border-bottom: 1px solid #ddd;
} */