.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

#status {
  width:70%; 
  margin-left:15%; 
  margin-right:15%;
  margin-top: 5%;
  border: 1px solid;
  border-collapse: collapse;
  /* border-bottom: 1px solid #ddd; */
  /* width: 400px;
  height: 100px; */
  /* background-color: #04AA6D; */
}
tr:nth-child(odd) {background-color: #e3e6e9;}
tr:hover {background-color: rgb(87, 154, 192);}
td { font-size: 15px }
/* th, td {
  border-bottom: 1px solid #ddd;
} */

@media (max-width: 1199px) {
  #status {
    width:99%; 
    margin-left:0.5%; 
    margin-right:0%;
    margin-top: 5%;
    border: 0px solid;
    border-collapse: collapse;
  }

  td { font-size: 10px }
}